<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Go Todo</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"
            integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm"
            crossorigin="anonymous"
        ></script>
    </head>
    <body class="p-8 bg-slate-950 text-white">
        <h1 class="text-2xl mb-4">My Todo List</h1>
        <form
            hx-post="/add"
            hx-target="#todo-list"
            hx-swap="innerHTML"
            class="mb-4"
        >
            <input
                type="text"
                name="task"
                class="border border-gray-700 rounded bg-slate-900 p-2 mr-2"
                placeholder="New task"
                required
                hx-on::after-request="this.value=''"
            />
            <button
                class="bg-blue-600 hover:bg-blue-700 text-white px-3 py-2 rounded"
            >
                Add
            </button>
        </form>

        <div id="todo-list" hx-get="/todos" hx-trigger="load"></div>
    </body>
</html>
